<strong>Olá, {{ student }}</strong>
<p>
  <strong>Sua pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Estamos à sua disposição!
  </small>
</p>
